<% title "Регистрация" %>
<%- model_class = @user.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => yield(:title)) %></h1>
                             </div>
<div class="row">
  <div class="span6 offset3">
    <%= render :partial => 'form' %>
  </div>
</div>
