<% title "Весь год" %>
<div id="year">
  <table id="months">
    <tbody>
      <tr>
        <th title="Январь">Январь</th>
        <th title="Февраль">Февраль</th>
        <th title="Март">Март</th>
        <th title="Апрель">Апрель</th>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
    <tr>
      <td class="">&nbsp;</td>
      <td class="st-bg">&nbsp;</td>
      <td class="st-bg">&nbsp;</td>
      <td class="st-bg">&nbsp;</td>
      <td class="st-bg">&nbsp;</td>
      <td class="st-bg">&nbsp;</td>
      <td class="st-bg">&nbsp;</td>
    </tr>
  </tbody>
</table>
</div

